body
  margin: 0
  padding: 0

  #root
    .application
      min-height: 100vh
      display: flex
      flex-direction: column
      position: relative

      nav
        position: relative
        z-index: 9999
        background-color: #181d27 !important
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2)
        justify-content: space-between

        .header-container
          margin: 0 50px

          .dropdown-menu
            background-color: #181d27

          .brand
            font-size: 21px
            line-height: 0
            display: flex
            align-items: center

            img
              width: 32px
              height: 32px
              margin-right: 5px

      .main
        height: calc(100vh - 58px)
        max-height: calc(100vh - 58px)
        min-height: calc(100vh - 58px)

        .row
          max-height: inherit

          .map-col > div
            position: relative

            .settings
              z-index: 9999
              position: absolute
              margin: 10px
              padding: 12px

              svg
                display: block

            .debug-buttons
              left: 50px
              display: flex
              flex-direction: column
              margin: 10px
              position: absolute
              z-index: 9999
              background-color: #373b3e
              padding: 5px
              border-radius: 5px
              min-width: 120px

              .shade
                display: flex
                flex-direction: column
                justify-content: space-around

              .btn
                padding: 2px
                margin-bottom: 5px

            .map-wrap
              width: 100%
              height: calc(100vh - 58px)
              @media (max-width: 992px)
                max-height: 60vh
                height: 60vh

              #map
                height: inherit
                width: 100%

            .map-data
              position: absolute
              top: 10px
              left: 10px
              width: 100px

              .layers
                display: flex
                flex-direction: column
                align-items: center

                button, label
                  height: 50px
                  width: 50px

          .data-col
            //padding-top: 10px
            padding: 10px
            max-height: inherit
            position: relative
            box-shadow: -3px 10px 15px rgba(0, 0, 0, 0.2)
            overflow: auto
            @media(max-width: 992px)
              max-height: none
              overflow: hidden

            .buttons
              width: 100%
              border: 1px solid #212529

            .not-selected
              position: absolute
              top: 50%
              left: 50%
              font-size: 28px
              transform: translate(-50%, -50%)

            .section-name
              margin-top: 10px

            .cluster-list
              .cluster-row
                display: flex
                flex-direction: row
                justify-content: space-between
                background-color: #6c757d
                padding: 5px 10px
                margin: 5px 0
                border-radius: 5px

              .cluster-row:hover
                background-color: #212529
                cursor: pointer

              .current
                background-color: #212529

            .side-switches
              display: flex
              flex-direction: row

              button
                flex: 1 1

                &:first-child
                  border-radius: 10px 0 0 0

                &:last-child
                  border-radius: 0 10px 0 0

            .cluster-info

              .data-rows
                background-color: #2A2D33
                border-radius: 5px

                &:first-child
                  border-radius: 0 0 5px 5px
                  margin-bottom: 10px


                > .row
                  > .col
                    padding: 8px

                    .col-data
                      position: relative
                      border-radius: 5px
                      height: 130px
                      background-color: #212529
                      display: flex
                      flex-direction: column
                      justify-content: center

                      .name
                        font-size: 20px
                        //font-style: italic
                        position: absolute
                        left: 10px
                        top: 5px

                      .data
                        font-size: 32px
                        display: flex
                        flex-direction: row
                        justify-content: space-around

                        .data-content
                          display: flex
                          flex-direction: row
                          align-items: center
                          border-radius: 10px
                          justify-content: center

                          &:first-child
                            border-color: green

                          &:last-child
                            border-color: red

                          .delta
                            color: grey
                            font-size: 16px
                            margin-left: 5px

                          .green
                            color: green

                          .red
                            color: red

                    .graphs
                      display: flex
                      flex-direction: column

                      h3
                        margin: 5px
                        padding: 5px

                      .graph
                        border-radius: 5px
                        height: 350px
                        background-color: #212529
                        display: flex
                        flex-direction: column

                        + .graph
                          margin-top: 16px

                        .graph-header
                          display: flex
                          flex-direction: row
                          padding: 5px 10px
                          background-color: #373b3e
                          border-radius: 5px 5px 0 0

                        .graph-content
                          height: 100%
                          padding: 5px

                    .players-list
                      + .players-list
                        margin-top: 16px

                      display: flex
                      flex-direction: column
                      border-radius: 5px
                      overflow: hidden
                      background-color: #212529

                      .content
                        height: 350px
                        max-height: 350px
                        display: flex
                        flex-direction: column
                        margin: auto 0
                        overflow: auto

                        .players-list-header
                          display: flex
                          flex-direction: row
                          justify-content: space-between
                          padding: 5px 10px
                          background-color: #373b3e
                          position: sticky
                          top: 0

                          span
                            flex: 1

                            &:nth-child(2)
                              text-align: center

                            &:last-child
                              text-align: right
                              justify-self: center


                        .player-row
                          display: flex
                          flex-direction: row
                          justify-content: space-between
                          padding: 5px 10px
                          background-color: #212529
                          width: 100%
                          margin: 0.5px 0

                          span
                            flex: 1

                            &:nth-child(2)
                              text-align: center

                            &:last-child
                              text-align: right
                              justify-self: center

              .lists
                font-size: 20px
                margin-top: 10px
                background-color: #2A2D33
                border-radius: 10px

      .about
        font-size: 32px