body
  margin: 0
  padding: 0
  #root
    .application
      min-height: 100vh
      max-height: 100vh
      display: flex
      flex-direction: column
      position: relative
      nav
        .brand
          font-size: 18px
          display: flex
          align-items: center
          img
            width: 32px
            height: 32px
            margin-right: 5px
      .main
        height: calc(100vh - 58px)
        max-height: calc(100vh - 58px)
        .row
          max-height: inherit
          .map-col > div
            position: relative
            .debug-buttons
              display: flex
              flex-direction: column
              margin: 5px
              position: absolute
              z-index: 9999
              .btn
                padding: 2px
                margin-bottom: 5px
            .map-wrap
              width: 100%
              height: calc(100vh - 58px)
              #map
                height: inherit
                width: 100%
            .map-data
              position: absolute
              top: 10px
              left: 10px
              width: 100px
              .layers
                display: flex
                flex-direction: column
                align-items: center
                button, label
                  height: 50px
                  width: 50px
          .data-col
            padding-top: 10px
            max-height: inherit
            overflow: auto
            position: relative
            .not-selected
              position: absolute
              top: 50%
              left: 50%
              font-size: 28px
              transform: translate(-50%, -50%)
            .section-name
              margin-top: 10px
            .cluster-info
              .row
                hr
                  width: 100%
                .col
                  position: relative
                  border-radius: 5px
                  margin: 10px
                  height: 100px
                  background-color: gray
                  display: flex
                  flex-direction: column
                  .name
                    font-style: italic
                    position: absolute
                  .data
                    margin: auto
                    font-size: 32px